page-list {

}

.itemDescription {
  background: #f4f4f4;
}

.itemTitle {
  padding: 0;
}

.expandContract {
  float: right;
  position: relative;
//  font-size: 20px;
}

.verticalAlign {
  font-size: 15px;
  position: relative;
}

.itemButton:hover {
  background-color: white;
}

.itemButton:active {
  background-color: white;
}


// .verticalAlign {
//   position: relative;
//   cursor: pointer;
//   line-height: 30px;
//   vertical-align: middle;
//   display: block;
// }

// .ribbon {
//   font-size: 30px;
//   padding-right: 20px;
// }
