<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Achievements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of achievements">
      <ion-item class="itemTitle">
        <button class="itemButton" no-lines ion-item full (click)="itemTapped(item.id)">
            <ion-icon class="ribbon" name="ribbon" item-start></ion-icon>
            <span class="verticalAlign">{{item.name}}</span>
            <ion-icon class="expandContract" right *ngIf="!item.showDescription" name="arrow-dropright"></ion-icon>
            <ion-icon class="expandContract" right *ngIf="item.showDescription" name="arrow-dropdown"></ion-icon>
        </button>
      </ion-item>
      <ion-item no-lines text-wrap class="itemDescription" *ngIf="item.showDescription">{{item.description}}</ion-item>
    </div>
  </ion-list>
</ion-content>
