<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="page === 'login'">Sign in</ion-title>
    <ion-title *ngIf="page === 'register'">Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
  <div *ngIf="!auth.authState; else alreadyLoggedIn" class="login-box">
    <form *ngIf="page === 'login'" (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button class="register-btn" block clear (click)="switch()">Create New Account</button>
        </ion-col>
      </ion-row>
    </form>

    <form *ngIf="page === 'register'" (ngSubmit)="signup()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
          <button ion-button class="register-btn" block clear (click)="switch()">Already Registered?</button>
        </ion-col>
      </ion-row>
    </form>

    <div class="icons-div">
      <button (click)="signInWithFacebook()" class="imgButton" ion-button clear large>
        <img src="../../assets/imgs/facebook-icon.png">
      </button>
      <button (click)="signInWithGoogle()" class="imgButton" ion-button clear large>
        <img src="../../assets/imgs/google-icon.png">
      </button>
    </div>

  </div>

  <ng-template #alreadyLoggedIn>
    Already logged in!
  </ng-template>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col *ngIf="page === 'login'" class="signup-col">
      <button ion-button class="register-btn" block clear (click)="resetPassword(registerCredentials.email)">Forgot your password?</button>
    </ion-col>
  </ion-row>
</ion-footer>
