<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>App</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!auth.authState">
  <h3 style="margin-top: 40px">
    Welcome, Guest!
  </h3>
  <div class="enjoy">
    Please consider registering to our app in order to use all of its functionalities. And do not forget to drive responsibly.
  </div>
  <div class="lets-start-div">
    <button class="lets-start-button" ion-button round outline (click)="goToMapPage()">Let's start</button>
  </div>
  <div class="login-div">
    <button class="login-button" (click)="goToAuthPage()" ion-button round>Login</button>
  </div>
  <button class="call-us" ion-button full>Call us</button>
</ion-content>

<ion-content *ngIf="auth.authState">
  <h3 style="margin-top: 50px">
    Welcome back, {{ auth.authState.email.replace('@gmail.com', '') }}
  </h3>
  <div class="enjoy">
    Enjoy our brand new platform for crowdsourced traffic oriented information.
  </div>
  <div class="lets-start-div">
    <button class="lets-start-button" ion-button round outline (click)="goToMapPage()">Navigate</button>
  </div>
  <div class="login-div">
    <button class="login-button" (click)="goToAuthPage()" ion-button round>Your achievements</button>
  </div>
  <button class="call-us" ion-button full>Call us</button>
</ion-content>
