.number {
  font-size: 18px;
  position: relative;
}

.itemButton:hover {
  background-color: white;
}

.itemButton:active {
  background-color: white;
}

.lets-start-div {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  text-align: center;
}

.login-div {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  text-align: center;
}

.icons-div {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 22px;
  text-align: center;
}

.lets-start-button {
  margin-bottom: 20px;
  margin-top: 15px;
}

h3 {
  padding-top: 30px;
  text-align: center;
}

.enjoy {
  position: relative;
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.call-us {
  position: fixed;
  bottom: -4px;
}

img {
  margin: 5px;
  height: 40px;
  width: 40px;
}
