page-map {
  #map {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
  }
  .currentitem {
    position: fixed;
    opacity: .8;
    top: 12rem;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 50px;
    .item-ios .item-inner {
      background: none;
      padding-right: 10px;
    }
  }
  .hidemap {
    visibility: hidden;
    margin-top: -1000px;
  }
  ion-searchbar {
    position: absolute;
    opacity: .7;
    z-index: 3;
  }
  .switch {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
    opacity: .9;
    .active {
      background: #3366CC!important;
      color: #fff;
    }
    .button {
      width: 100px;
      margin: 0;
      padding: 0;
    }
  }
  .infoWindowDescription {
      width: 220px;
      overflow: hidden;
      z-index: 999;
      text-align: center;
      margin-left: 0px;
  }

  .infoWindowProbability {
      font-size: 16px;
      text-align: center;
      padding-top: 8px;
  }

  .infoWindowProbabilityNo {
      color: orange;
  }

  .infoWindowPretext {
      font-size: 13px;
      margin-top: 10px;
  }

  .glyphicon-ok {
    margin-left: 10px;
    margin-right: 12px;
    color: white;
    font-size: 17px;
  }
  .glyphicon-remove {
    color: white;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .feedbackContainer {
    text-align: center;
    padding: 5px;
    display: inline-flex;
    width: 60%;
  }

  .addAlert {
    z-index: 999;
    position: fixed;
    display: inline-block;
    top: 130px;
    height: 60px;
    width: 320px;
    text-align: center;
    margin: auto;

  }

  .alert-text {
    margin-top: 18px;
  }

  .rosu {
    background: #d9534f;
    height: 27px;
    padding: 5px;
    margin-right: 1px;
    width: 42%;
  }

  .verde {
    background: #5cb85c;
    height: 27px;
    padding: 5px;
    margin-left: 1px;
    width: 58%;
  }

  .thankYou {
      font-size: 15px;
      color: green;
      margin-top: 8px;
  }

  .navbarButton {
    margin-right: 20px;
    margin-left: -5px;
  }

  .probabilityRange {
    background: #428bca;
    padding: 10px;
    color: white;
    text-align: center;
    height: 40px;
  }

  ion-range {
    margin-left: 30px;
    margin-right: 30px;
    height: 60px;
  }

  .iconActivated {
    color: #428bca;
  }

  .itemDescription {
    white-space: normal;
    // contain: none;
    overflow: visible;
  }
}
