<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Big Ol' Google Map
    </ion-title>
  </ion-navbar>

  <div *ngIf='probabilityRangeListener' class="rangeContainer">
    <div  class='probabilityRange'>
          Don't show markers under <ion-badge color="light">{{probabilityRangeNumber}}</ion-badge> %
    </div>
    <ion-item>
      <ion-range [(ngModel)]='probabilityRangeNumber' debounce="500" (ionChange)='refreshMarkers()'>
          <ion-icon name="infinite" range-right></ion-icon>
      </ion-range>
    </ion-item>

  </div>
  <div *ngIf='addHotspotListener' class='probabilityRange'>
        Show us where they at!
  </div>



</ion-header>

<ion-content>

  <!-- GOOD FAB DONT FKIN DELETE -->
  <!-- <ion-fab *ngIf='isFabVisible' top right edge #fab>
      <button ion-fab><ion-icon name="add"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab (click)='startTracking(fab)'><ion-icon name="eye"></ion-icon></button>
        <button ion-fab (click)='getLocation(map)'><ion-icon name="ios-locate-outline"></ion-icon></button>
        <button ion-fab (click)='addHotspot(fab)'><ion-icon name="pin"></ion-icon></button>
        <button ion-fab (click)='showProbabilityRange(fab)'><ion-icon name="options"></ion-icon></button>
      </ion-fab-list>
    </ion-fab> -->

    <!-- <ion-fab *ngIf='isFabVisible' top right edge #fab>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab (click)="test()"><ion-icon name="eye"></ion-icon></button>
          <button ion-fab (click)="updateHotspotQueue(2, 'downvote')"><ion-icon name="ios-locate-outline"></ion-icon></button>
          <button ion-fab (click)="updateHotspotQueue(2, 'upvote')"><ion-icon name="pin"></ion-icon></button>
          <button ion-fab (click)="getHotspotsByHour('Monday', 5)"><ion-icon name="options"></ion-icon></button>
          <button ion-fab (click)="getHotspotById(2)"><ion-icon name="remove"></ion-icon></button>
        </ion-fab-list>
      </ion-fab> -->
    <ion-fab *ngIf='isFabVisible' top right edge #fab>
      <button ion-fab><ion-icon name='add'></ion-icon></button>
      <ion-fab-list>
        <button ion-fab (click)='addHotspot(fab)'><ion-icon name="warning"></ion-icon></button>
        <button ion-fab (click)='startTracking(fab)'>
          <ion-icon *ngIf='!trackingListener' name="locate"></ion-icon>
          <ion-icon *ngIf='trackingListener' name="locate" class="iconActivated"></ion-icon>
        </button>
        <button ion-fab (click)='showProbabilityRange()'><ion-icon name="settings"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

    <div id="map" #map></div>

</ion-content>
