<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar  color="dark">
      <ion-title *ngIf="auth.authState">My Account</ion-title>
      <ion-title *ngIf="!auth.authState">Guest</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngIf="auth.authState">
        <h1 style="margin-top: 10px">{{ auth.authState.email.replace('@gmail.com', '') }}</h1>
        <h2> {{score}} </h2>
      </ion-item>
      <ion-item *ngIf="!auth.authState">
        <h1 style="margin-top: 10px">Hello, stranger!</h1>
      </ion-item>
      <button class="menuButton" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <span>{{p.title}}</span>
      </button>
      <button *ngIf="auth.authState" class="miniButton" menuClose ion-item (click)="logout()">
        <ion-icon class="power" name="log-out"></ion-icon>
        <span class="sign-out"> Sign out </span>
      </button>
      <button *ngIf="!auth.authState" class="miniButton" menuClose ion-item (click)="login()">
        <ion-icon class="powerblue" name="log-in"></ion-icon>
        <span class="sign-in"> Sign in </span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
