::-webkit-scrollbar {
    display: none;
}
.label {
  color: #222;
  text-align: left;
  font-size: 16px;
}

.sign-out {
  color: #d42323;
  font-size: 15px;
}

.sign-in {
  color: #488aff;
  font-size: 15px;
}

.powerblue {
  color: #488aff;
  position: relative;
  top: 1px;
  font-size: 17px;
  margin-right: 7px;
}

.power {
  color: #d42323;
  position: relative;
  top: 1px;
  font-size: 17px;
  margin-right: 7px;
}

.miniButton {
  margin-top: 10px;
}
// #sidebar {
//     position: fixed;
//     left: 0;
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     background: #2c2f33;
//     z-index: 100;
// }
//
// .addHotspotActive {
//     z-index: 999;
//     position: fixed;
//     top: 155px;
//     right: 105px;
//     width: 70px;
//     box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
//     -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
//     -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
//     -o-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
//     border-radius: 100px;
// }
//
// .addHotspotDefault {
//     z-index: 999;
//     position: fixed;
//     top: 150px;
//     right: 100px;
//     width: 80px;
//     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
//     -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
//     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
//     -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
//     border-radius: 100px;
// }
//
//
// .sidebarMenuContainer {
//     position: fixed;
//     width: inherit;
//     left: 0;
//     margin: 0;
//     top: 150px;
// }
//
// .sidebarMenu {
//     margin-top: 70px;
//     padding: 0;
// }
//
// .sidebarUserInfo {
//     padding: 0;
//     margin: 0 auto;
//     color: lightgray;
// }
//
// .username {
//     font-size: 18px;
//     margin-bottom: 0;
//     color: white;
// }
//
// .score {
//     font-size: 35px;
//     margin-top: 30px;
//     margin-bottom: 0;
//     color: white;
// }
//
// .scoreText {
//     font-size: 15px;
//     margin-top: -8px;
// }
//
// ul {
//     list-style-type: none;
// }
//
// li {
//     margin-bottom: 25px;
// }
//
// a {
//     text-decoration: none;
//     color: lightgray;
//     font-size: 16px;
//     padding: 13px;
//     padding-left: 25px;
//     padding-right: 25px;
// }
//
// a:hover {
//     text-decoration: none;
//     color: white;
//     background: #23272a;
// }
//
// a:visited {
//     text-decoration: none;
//     color: lightgray;
// }
//
// .dontDrinkDrive {
//     position: absolute;
//     color: gray;
//     font-size: 14px;
//     font-weight: bold;
//     bottom: 80px;
//     width: 100%;
//     margin: auto;
// }
